#ifndef CREDENTIALS_H
#define CREDENTIALS_H

#define WIFI_SSID ""
#define WIFI_PASSWORD ""
#define MQTT_SERVER "172.16.0.5"
#define MQTT_USER "esp"
#define MQTT_PASSWORD ""
#define MQTT_TOPIC_DOORBELL "esp32/sdsource"
#define MQTT_TOPIC_URLSOURCE "esp32/urlsource"
#define MQTT_TOPIC_VOLUME "esp32/volume"
#define MQTT_TOPIC_STOP "esp32/stop"

#endif